.movies-cardlist {
  padding: 77px 0 61px;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  column-gap: 30px;
  row-gap: 32px;
  justify-content: center;
}
