.movies-card {
  display: flex;
  flex-direction: column;
  background-color: #FDFDFD;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}

.movies-card__container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.movies-card__title {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  margin: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.movies-card__duration {
  font-size: 13px;
  line-height: 1.38;
  color: #A0A0A0;
  margin: 17px;
  flex-shrink: 0;
}

.movies-card__image {
  width: 100%;
  height: 200px;
  display: block;
  object-fit: cover;
  object-position: center;
  transition: opacity .3s ease-out;
}

.movies-card__image:hover {
  opacity: .6;
}

.movies-card__button {
  width: 100px;
  height: 29px;
  background: #F9F9F9;
  border-radius: 30px;
  border: none;
  align-self: center;
  font-size: 12px;
  line-height: 0.92;
  margin: 17px;
  cursor: pointer;
  transition: opacity .3s ease-out;
}

.movies-card__button:hover {
  opacity: .6;
}

.movies-card__button_type_saved {
  background-color: #EE3465;
  background-image: url(../../images/checked.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.movies-card__button_type_choosed {
  background-image: url(../../images/cross.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 1023px) {
  .movies-card__image {
    height: 190px;
  }
}

@media screen and (max-width: 524px) {
  .movies-card__title {
    font-size: 12px;
    line-height: 1.5;
    margin: 14px;
  }
  
  .movies-card__duration {
    font-size: 10px;
    line-height: 1.8;
    margin: 14px;
  }

  .movies-card__button {
    margin: 14px;
  }

  .movies-card__image {
    height: 168px;
  }
}
