.profile {
  margin: 0 auto;
  padding: 73px 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.21;
  margin: 0;
  margin-bottom: 110px;
}

.profile__form {
  display: flex;
  flex-direction: column;
}

.profile__form-field {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.profile__form-field:first-child {
  border-bottom: 1px solid #E8E8E8;
}

.profile__form-field:focus-within {
  background-color: #f7f7f7;
}

.profile__input-error {
  position: absolute;
  right: 0;
  font-size: 11px;
  line-height: 1.18;
  color: #EE3465;
  display: none;
}

.profile__input-error_visible {
  display: block;
}

.profile-name-input-error {
  top: -17px;
}

.profile-email-input-error {
  bottom: -17px;
}

.profile__input-text {
  font-weight: 500;
  font-size: 11px;
  line-height: 1.18;
}

.profile__input {
  width: 377px;
  text-align: right;
  border: none;
  padding: 16px 0;
  font-size: 11px;
  line-height: 1.18;
}

.profile__input_type_error {
  color: #EE3465;
}

.profile__input:focus {
  outline: none;
  background-color: #f7f7f7;
}

.profile__submit-button {
  margin-top: 203px;
  border: none;
  background-color: transparent;
  font-size: 13px;
  line-height: 1.23;
  cursor: pointer;
  transition: opacity .3s ease-out;
}

.profile__submit-button:hover {
  opacity: .6;
}

.profile__exit-button {
  color: #EE3465;
  margin-top: 15px;
  border: none;
  background-color: transparent;
  font-size: 13px;
  line-height: 1.23;
  cursor: pointer;
  transition: opacity .3s ease-out;
}

.profile__exit-button:hover {
  opacity: .6;
}

@media screen and (max-width: 1023px) {
  .profile {
    padding: 236px 0 40px;
  }

  .profile__title {
    margin-bottom: 80px;
  }

  .profile__submit-button {
    margin-top: 195px;
  }
}

@media screen and (max-width: 767px) {
  .profile {
    padding: 150px 0 40px;
  }

  .profile__submit-button {
    margin-top: 280px;
  }
}

@media screen and (max-width: 500px) {
  .profile {
    width: 100%;
    padding: 70px 0 40px;
  }

  .profile__title {
    margin-bottom: 66px;
  }

  .profile__form {
    width: calc(100% - 30px * 2);
  }

  .profile__input {
    width: calc(100% - 33px);
  }

  .profile__submit-button {
    margin-top: 362px;
  }

  .profile__exit-button {
    margin-top: 13px;
  }
}
