.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 246px 0 60px;
}

.not-found__title {
  font-weight: 400;
  font-size: 140px;
  line-height: 1.21;
  margin: 0;
}

.not-found__text {
  font-size: 16px;
  line-height: 1.19;
  margin: 0;
  margin-top: 5px;
}

.not-found__link {
  font-size: 14px;
  line-height: 17px;
  color: #2BE080;
  text-decoration: none;
  margin: 0;
  margin-top: 181px;
  transition: opacity .3s ease-out;
}

.not-found__link:hover {
  opacity: .6;
}

@media screen and (max-width: 1023px) {
  .not-found {
    padding: 408px 0 222px;
  }
}

@media screen and (max-width: 500px) {
  .not-found {
    padding: 329px 0 30px;
  }

  .not-found__title {
    font-size: 80px;
    line-height: 1.1;
  }

  .not-found__text {
    font-size: 12px;
    line-height: 1.25;
    margin-top: 12px;
  }

  .not-found__link {
    font-size: 12px;
    line-height: 1.25;
    margin-top: 284px;
  }
}
