.portfolio {
  padding: 100px 0 104px;
}

.portfolio__container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.portfolio__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11;
  color: #A0A0A0;
  margin: 0;
}

.portfolio__list {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 30px;
}

.portfolio__item {
  border-bottom: 1px solid #E8E8E8;
}

.portfolio__item:last-of-type {
  border-bottom: none;
}

.portfolio__link {
  text-decoration: none;
  color: inherit;
  margin: 0;
  width: 100%;
  height: 89px;
  display: flex;
  align-items: center;
  font-size: 30px;
  line-height: 1.67;
  letter-spacing: -0.04em;
  background-image: url(../../images/arrow.svg);
  background-repeat: no-repeat;
  background-size: 17px;
  background-position: right 6px center;
  transition: opacity .3s ease-out;
}

.portfolio__link:hover {
  opacity: .5;
}

@media screen and (max-width: 1279px) {
  .portfolio__container {
    width: calc(100% - 50px * 2);
  }
}

@media screen and (max-width: 1023px) {
  .portfolio {
    padding: 90px 0 69px;
  }

  .portfolio__link {
    font-size: 28px;
    line-height: 1.79;
    background-size: 15px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio__link {
    font-size: 24px;
    line-height: 1.7;
    background-size: 17px;
  }
}

@media screen and (max-width: 524px) {
  .portfolio {
    padding: 70px 0 51px;
  }

  .portfolio__container {
    width: calc(100% - 14px * 2);
  }

  .portfolio__title {
    font-size: 14px;
    line-height: 1.43;
  }

  .portfolio__list {
    margin-top: 20px;
  }

  .portfolio__link {
    height: 67px;
    font-size: 18px;
    line-height: 1.56;
    background-size: 10px;
  }
}
