.navigation__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  align-items: center;
}

.navigation__link {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  transition: opacity .3s ease-out;
}

.navigation__link:hover {
  opacity: .5;
}

.navigation__link_promo {
  color: #fff;
  font-size: 12px;
  line-height: 1.33;
}

.navigation__link_type_login {
  color: #000;
  padding: 8px 20px;
  background-color: #2BE080;
  border-radius: 3px;
  margin-left: 10px;
}

.navigation__link_type_account {
  margin-left: 30px;
  display: flex;
  align-items: center;
  line-height: 1.14;
}

.navigation__account-img {
  width: 30px;
  height: 30px;
  background-color: #F9F9F9;
  border-radius: 6px;
  margin-left: 13px;
  background-image: url(../../images/account.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.navigation__button {
  display: none;
  width: 28px;
  height: 23px;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  transition: opacity .3s ease-out;
}

.navigation__button:hover {
  opacity: .4;
}

.navigation__button div{
  width: 100%;
  height: 3px;
  background-color: #000;
}

@media screen and (max-width: 1023px) {
  .navigation__menu {
    display: none;
  }

  .navigation__button {
    display: flex;
  }
}


@media screen and (max-width: 767px) {
  .navigation__list {
    gap: 14px;
  }

  .navigation__link {
    font-size: 10px;
    line-height: 1.6;
  }

  .navigation__link_login {
    padding: 6px 12px;
  }

  .navigation__button {
    width: 22px;
    height: 21px;
  }
}
