.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, .3);
  opacity: 0;
  visibility: hidden;
  transition: visibility .3s, opacity 0.3s ease-in;
}

.navigation_opened {
  visibility: visible;
  opacity: 1;
}

.navigation__container {
  background-color: #fff;
  width: 68%;
  display: flex;
  flex-direction: column;
}

.navigation__button {
  width: 18px;
  height: 18px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-image: url(../../images/line1.svg);
  background-repeat: no-repeat;
  background-size: 18px;
  padding: 0;
  position: relative;
  transition: opacity .3s ease-out;
  margin: 30px 30px 0 auto;
}

.navigation__button::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../images/line2.svg);
  background-repeat: no-repeat;
  background-size: 18px;
}

.navigation__button:hover {
  opacity: .5;
}

.navigation__menu {
  padding: 112px 0 100px;
  flex: 1;
}

.navigation__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.navigation__item {
  margin-bottom: 28px;
}

.navigation__item:last-of-type {
  margin: 0;
  margin-top: auto;
}

.navigation__link {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  transition: opacity .3s ease-out;
  padding-bottom: 4px;
}

.navigation__link:hover {
  opacity: .6;
}

.navigation__link_type_movies {
  border-bottom: 2px solid #000;
}

.navigation__link_type_account {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.14;
}

.navigation__account-img {
  width: 30px;
  height: 30px;
  background-color: #F9F9F9;
  border-radius: 6px;
  margin-left: 13px;
  background-image: url(../../images/account.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 1023px) {
  .navigation {
    display: flex;
  }
}

@media screen and (max-width: 700px) {
  .navigation__container {
    width: 100%;
  }

  .navigation__menu {
    padding: 106px 0 48px;
  }

  .navigation__button {
    margin: 20px 20px 0 auto;
  }

  .navigation__item {
    margin-bottom: 24px;
  }
}
