.navigation__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
}

.navigation__link {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  transition: opacity .3s ease-out;
}

.navigation__link:hover {
  opacity: .5;
}

.navigation__link_login {
  color: #000;
  padding: 9px 20px;
  background-color: #2BE080;
  border-radius: 3px;
}

@media screen and (max-width: 767px) {
  .navigation__list {
    gap: 14px;
  }

  .navigation__link {
    font-size: 10px;
    line-height: 1.6;
  }

  .navigation__link_login {
    padding: 5px 12px;
  }
}
