.search-form {
  padding: 70px 0;
  border-bottom: 1px solid #E8E8E8;;
}

.search-form__form {
  width: 100%;
  display: flex;
  background-color: #FDFDFD;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
  border-radius: 9px;
  align-items: center;
}

.search-form__form:focus-within {
  outline: 1px solid #979797;
}

.search-form__form-field {
  flex: 1;
  display: flex;
  align-items: center;
}

.search-form__input {
  flex: 1;
  border: none;
  background-color: #FDFDFD;
  height: 72px;
  box-sizing: border-box;
  background-image: url(../../images/search.svg);
  background-repeat: no-repeat;
  background-position: left 19px center;
  background-size: 22px;
  padding: 0 0 0 63px;
}

.search-form__input:focus {
  border: none;
  outline: none;
}

.search-form__input::placeholder {
  font-size: 18px;
  line-height: 1.11;
  color: #A0A0A0;
}

.search-form__button {
  border: none;
  width: 34px;
  height: 34px;
  background-image: url(../../images/search_invisible.svg);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  background-color: #2BE080;
  border-radius: 48px;
  cursor: pointer;
  transition: opacity .3s ease-out;
  margin-right: 25px;
  position: relative;
}

.search-form__button:hover {
  opacity: .5;
}

.search-form__button::after {
  position: absolute;
  top: -2px;
  right: -25px;
  height: 40px;
  border-right: 1px solid #CBCBCB;
  content: '';
}
