.info-tooltip {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, .3);
  opacity: 0;
  visibility: hidden;
  transition: visibility .3s, opacity 0.3s ease-in;
}

.info-tooltip_opened {
  visibility: visible;
  opacity: 1;
}

.info-tooltip__container {
  margin: auto;
  padding: 34px 36px 37px;
  background-color: #fff;
  width: 430px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-tooltip__info-img {
  width: 120px;
  height: 120px;
  margin-top: 26px;
}

.info-tooltip__info-text {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
  text-align: center;
  color: #000000;
  margin: 32px 0 23px;
}

.info-tooltip__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-color: transparent;
  background-image: url(../../images/Cross-w.svg);
  background-size: 32px;
  border: none;
  transition: opacity .5s ease-out;
}

.info-tooltip__close-button:hover {
  opacity: .6;
}

@media screen and (max-width: 635px) {
  .info-tooltip__container {
    width: calc(100% - 100px * 2);
    padding: 26px 22px 25px;
  }

  .info-tooltip__info-img {
    margin-top: 24px;
  }

  .info-tooltip__info-text {
    font-size: 20px;
    line-height: 1.2;
    margin: 40px 0 25px;
    max-width: 330px;
  }

  .info-tooltip__close-button {
    top: -36px;
    right: 0;
    width: 20px;
    height: 20px;
    background-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  .info-tooltip__container {
    width: 282px;
  }
}
