.header {
  background-color: #fff;
  padding: 18px 0 17px;
}

.header_promo {
  background-color: #5C5C5C;
}

.header__container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 37px;
  height: 37px;
  transition: opacity .3s ease-out;
}

.header__logo:hover {
  opacity: .5;
}

@media screen and (max-width: 1279px) {
  .header__container {
    width: calc(100% - 30px * 2);
  }
}

@media screen and (max-width: 524px) {
  .header__container {
    width: calc(100% - 14px * 2);
  }
}
