.header {
  background-color: #5C5C5C;
  padding: 18px 0;
}

.header__container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
