.header {
  background-color: #fff;
  padding: 18px 0 17px;
}

.header_promo {
  background-color: #5C5C5C;
}

.header__container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 37px;
  height: 37px;
  transition: opacity .3s ease-out;
}

.header__logo:hover {
  opacity: .5;
}

.header__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__link {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  transition: opacity .3s ease-out;
}

.header__link:hover {
  opacity: .5;
}

.header__link_promo {
  color: #fff;
  font-size: 12px;
  line-height: 1.33;
}

.header__link_type_login {
  color: #000;
  padding: 8px 20px;
  background-color: #2BE080;
  border-radius: 3px;
  margin-left: 10px;
}

.header__link_type_saved-movies {
  font-weight: 400;
}

.header__link_type_account {
  margin-left: 30px;
  display: flex;
  align-items: center;
  line-height: 1.14;
}

.header__account-img {
  width: 30px;
  height: 30px;
  background-color: #F9F9F9;
  border-radius: 6px;
  margin-left: 13px;
  background-image: url(../../images/account.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.header__button {
  display: none;
  width: 28px;
  height: 23px;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  transition: opacity .3s ease-out;
}

.header__button:hover {
  opacity: .4;
}

.header__button div{
  width: 100%;
  height: 3px;
  background-color: #000;
}

@media screen and (max-width: 1279px) {
  .header__container {
    width: calc(100% - 30px * 2);
  }
}

@media screen and (max-width: 1023px) {
  .header__list {
    display: none;
  }

  .header__button {
    display: flex;
  }
}


@media screen and (max-width: 767px) {
  .header__list {
    gap: 14px;
  }

  .header__link {
    font-size: 10px;
    line-height: 1.6;
  }

  .header__link_login {
    padding: 6px 12px;
  }

  .header__button {
    width: 22px;
    height: 21px;
  }
}

@media screen and (max-width: 524px) {
  .header__container {
    width: calc(100% - 14px * 2);
  }
}
