.filter-checkbox {
  display: flex;
  align-items: center;
  padding: 0 30px;
  font-size: 13px;
  line-height: 1.38;
}

.filter-checkbox__invisible {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.filter-checkbox__visible {
  width: 36px;
  height: 20px;
  border-radius: 20px;
  background-color: #CBCBCB;
  cursor: pointer;
  position: relative;
  margin-right: 14px;
}

.filter-checkbox__visible::before {
  position: absolute;
  content: '';
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: #FFFFFF;
  border-radius: 50%;
}

.filter-checkbox__invisible:checked + .filter-checkbox__visible {
  background-color: #2BE080;
}

.filter-checkbox__invisible:checked + .filter-checkbox__visible::before {
  left: 18px;
}
