.about-project {
  padding: 110px 0 95px;
}

.about-project__container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.about-project__title {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.23;
  border-bottom: 1px solid #000;
  padding-bottom: 23px;
  margin: 0;
  letter-spacing: -0.04em;
}

.about-project__list {
  list-style-type: none;
  display: flex;
  gap: 50px;
  margin-top: 70px;
  padding: 0;
}

.about-project__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
  letter-spacing: -0.04em;
}

.about-project__text {
  font-size: 14px;
  line-height: 1.43;
  margin: 0;
  margin-top: 26px;
}

.about-project__table {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 36px 46px;
  margin-top: 110px;
}

.about-project__table-text {
  font-size: 14px;
  line-height: 1.21;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.about-project__table-text_type_one-week {
  background-color: #2BE080;;
}

.about-project__table-text_type_four-week {
  background-color: #F2F2F2;
}

.about-project__table-text_type_additional {
  font-weight: 500;
  color: #A0A0A0;
}
