.footer {
  padding-top: 80px;
  background-color: #FAFAFA;
}

.footer__container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.footer__title {
  text-align: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.23;
  margin: 0;
}

.footer__menu {
  border-top: 1px solid #E8E8E8;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  font-size: 13px;
  line-height: 1.23;
  margin: 20px 0;
}

.footer__nav {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  display: flex;
  gap: 20px;
}

.footer__link {
  font-size: 13px;
  line-height: 1.23;
  margin: 0;
  text-decoration: none;
  color: inherit;
  transition: opacity .3s ease-out;
}

.footer__link:hover {
  opacity: .5;
}
