.about-me {
  padding-top: 110px;
}

.about-me__container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.about-me__title {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.23;
  border-bottom: 1px solid #000;
  padding-bottom: 23px;
  width: 100%;
  margin: 0;
  letter-spacing: -0.04em;
}

.about-me__info-container {
  display: flex;
  margin-top: 66px;
  justify-content: space-between;
}

.about-me__text-container {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.about-me__name {
  font-weight: 400;
  font-size: 50px;
  line-height: 1.16;
  margin: 0;
  letter-spacing: -0.04em;
}

.about-me__about {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  margin: 0;
  margin-top: 18px;
}

.about-me__info {
  font-size: 14px;
  line-height: 1.57;
  margin: 0;
  margin-top: 26px;
}

.about-me__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  text-decoration: none;
  color: inherit;
  margin: 0;
  margin-top: auto;
}

.about-me__photo {
  width: 270px;
  height: 327px;
  border-radius: 10px;
}
