.about-me {
  padding-top: 111px;
}

.about-me__container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.about-me__title {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.23;
  border-bottom: 1px solid #000;
  padding-bottom: 23px;
  width: 100%;
  margin: 0;
  letter-spacing: -0.04em;
}

.about-me__info-container {
  display: flex;
  margin-top: 66px;
  justify-content: space-between;
}

.about-me__text-container {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.about-me__name {
  font-weight: 400;
  font-size: 50px;
  line-height: 1.16;
  margin: 0;
  letter-spacing: -0.04em;
}

.about-me__about {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  margin: 0;
  margin-top: 18px;
}

.about-me__info {
  font-size: 14px;
  line-height: 1.57;
  margin: 0;
  margin-top: 26px;
}

.about-me__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  text-decoration: none;
  color: inherit;
  margin: 0;
  margin-top: auto;
  transition: opacity .3s ease-out;
}

.about-me__link:hover {
  opacity: .6;
}

.about-me__photo {
  width: 270px;
  height: 327px;
  border-radius: 10px;
  object-fit: cover;
}

@media screen and (max-width: 1279px) {
  .about-me__container {
    width: calc(100% - 50px * 2);
  }
}

@media screen and (max-width: 1023px) {
  .about-me {
    padding-top: 90px;
  }

  .about-me__text-container {
    max-width: 364px;
  }

  .about-me__name {
    font-size: 40px;
    line-height: 1;
  }

  .about-me__about {
    font-size: 12px;
    line-height: 1.5;
    margin-top: 16px;
  }

  .about-me__info {
    font-size: 12px;
    line-height: 1.5;
    margin-top: 20px;
  }

  .about-me__photo {
    width: 255px;
    height: 307px;
  }
}

@media screen and (max-width: 767px) {
  .about-me__text-container {
    max-width: 300px;
  }
}

@media screen and (max-width: 600px) {
  .about-me__text-container {
    max-width: 200px;
  }
}

@media screen and (max-width: 524px) {
  .about-me {
    padding-top: 70px;
  }

  .about-me__container {
    width: calc(100% - 14px * 2);
  }

  .about-me__title {
    font-size: 18px;
    line-height: 1.22;
    padding-bottom: 28px;
  }
  
  .about-me__info-container {
    margin-top: 60px;
    flex-direction: column-reverse;
    align-items: center;
    gap: 40px;
  }
  
  .about-me__text-container {
    max-width: 100%;
  }

  .about-me__photo {
    width: 292px;
    height: 352px;
  }

  .about-me__name {
    font-size: 30px;
    line-height: 1.2;
  }

  .about-me__about {
    font-size: 11px;
    line-height: 1.45;
    margin-top: 20px;
  }

  .about-me__info {
    font-size: 11px;
    line-height: 1.45;
    margin-top: 20px;
  }

  .about-me__link {
    margin-top: 40px;
  }
}
